<div class="container">
  <nav aria-label="Page navigation example" class="py-5">
    <ul class="pagination">
      <li (click)="paginationRest()" class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li *ngFor="let pageNumber of arrayOne(); let i = index;" (click)="pagination(i+1)" class="page-item"><a class="page-link"
          href="#">{{i+1}}</a></li>
      <li (click)="paginationPlus()" class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">policyID</th>
        <th scope="col">statecode</th>
        <th scope="col">county</th>
        <th scope="col">eq_site_limit</th>
        <th scope="col">hu_site_limit</th>
        <th scope="col">fl_site_limit</th>
        <th scope="col">fr_site_limit</th>
        <th scope="col">tiv_2011</th>
        <th scope="col">tiv_2012</th>
        <th scope="col">eq_site_deductible</th>
        <th scope="col">hu_site_deductible</th>
        <th scope="col">fl_site_deductible</th>
        <th scope="col">fr_site_deductible</th>
        <th scope="col">point_latitude</th>
        <th scope="col">point_longitude</th>
        <th scope="col">line</th>
        <th scope="col">construction</th>
        <th scope="col">point_granularity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">{{item.policyID}}</th>
        <td>{{item.statecode}}</td>
        <td>{{item.county}}</td>
        <td>{{item.eq_site_limit}}</td>
        <td>{{item.hu_site_limit}}</td>
        <td>{{item.fl_site_limit}}</td>
        <td>{{item.fr_site_limit}}</td>
        <td>{{item.tiv_2011}}</td>
        <td>{{item.tiv_2012}}</td>
        <td>{{item.eq_site_deductible}}</td>
        <td>{{item.hu_site_deductible}}</td>
        <td>{{item.fl_site_deductible}}</td>
        <td>{{item.fr_site_deductible}}</td>
        <td>{{item.point_latitude}}</td>
        <td>{{item.point_longitude}}</td>
        <td>{{item.line}}</td>
        <td>{{item.construction}}</td>
        <td>{{item.point_granularity}}</td>
      </tr>
    </tbody>
  </table>
</div>